# Android/Gradle
.gradle/
build/
*/build/
local.properties
*.iml
.idea/
.cxx/
captures/
.externalNativeBuild/

# OS/tooling
.DS_Store
Thumbs.db
*.keystore
*.jks

# Logs
*.log

# Media (too big for GitHub)
*.mp4
*.mov
*.avi
*.apk
*.zip
